* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
}

.Columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.Columns > * {
  flex: 1 1 200px;
}

body {
  margin: 0px;
}
