.comments {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}
/*
.comments:focus {
    background-color:blue;
    outline: none;
    border-color: red;
    box-shadow:none;
}
*/