.header {
  height: 7vh;
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 1vh 1vw;
  box-sizing: border-box;
  justify-content: space-between;
}

.left-side-header {
  display: inline-block;
  margin-left: auto;
}

.gonext {
  background-color: rgb(74, 97, 227);
  border-radius: 3px;
  color: white;
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  padding: 1vh 1vw;
  height: 36px;

  user-select: none;
  outline: solid transparent 4px;
  outline-offset: 1px;

  box-sizing: border-box;
}

.gonext:hover {
  outline: solid lightgray 4px;
}

/* I dont know what this does */
.next {
  height: 20px;
  width: 20px;
  border: solid black 1px;
  box-sizing: border-box;
}

.stage-bar {
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
  border-top: rgb(229, 229, 229) solid 1px;
  border-bottom: 1px rgb(229, 229, 229) solid;
  align-items: center;
  padding-left: 0.7vw;
}

a {
  padding: 0.9vh;
  color: gray;
}

.current {
  border-bottom: blue solid 2px;
  color: black;
}

.arrow {
  color: gray;
}
