.Comment {
  display: flex;
  background: #f4f4f4;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}

.like {
  padding-right: 0.4vw;
  cursor: pointer;
}

.likes {
  user-select: none;
}

.check-box {
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 18vw;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 18vw;
}
